@model List<DataAccess.Entities.Item>;

<h1>Items List</h1>
<p>You can manage all the available items here...</p>

<a asp-action="Create" class="btn btn-success">Create new item</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Rating</th>
            <th scope="col">Status</th>
            <th scope="col">Category</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <th scope="row">@i.Id</th>
                <td>@i.Name</td>
                <td>@i.Price$</td>
                <td>@i.Discount%</td>
                <td>@i.Rating</td>
                <td><span class="badge bg-info">@i.Status</span></td>
                <td>@i.Category.Name</td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Delete" asp-route-itemId="@i.Id" class="btn btn-danger">Delete</a>
                        <a asp-action="Edit" asp-route-itemId="@i.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Info" asp-route-itemId="@i.Id" class="btn btn-info">Info</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">Count: @Model.Count</p>